{% extends "plantilla.html" %} {% load staticfiles %} {% block titulo %} Evaluar Función {% endblock titulo %} {% block contenido%}

<form>
    <div class="container">
        <h1 id="ayudaPpal">Ayuda</h1>

        <section class="cd-faq">
            <ul class="cd-faq-categories">
                <a href="#grafico1var">
                    <h4 style="color:#3C763D">Graficos de una variable</h4>
                </a>
                <a href="#grafico2var">
                    <h4 style="color:#3C763D">Graficos de dos variables</h4>
                </a>
                <a href="#derivadaSimbolica">
                    <h4 style="color:#3C763D">Derivada Simbólica</h4>
                </a>
                <a href="#derivadaNumerica">
                    <h4 style="color:#3C763D">Derivada Numérica</h4>
                </a>
                <a href="#integralSimple">
                    <h4 style="color:#3C763D">Integral Simple</h4>
                </a>
                <a href="#integralDoble">
                    <h4 style="color:#3C763D">Integral Doble</h4>
                </a>
                <a href="#integralDobledef">
                    <h4 style="color:#3C763D">Integral Doble Definida</h4>
                </a>
                <a href="#integralDoblenum">
                    <h4 style="color:#3C763D">Integral Doble Numérica</h4>
                </a>
                <a href="#biseccion">
                    <h4 style="color:#3C763D">Método de Bisección</h4>
                </a>
                <a href="#newton">
                    <h4 style="color:#3C763D">Método de Newton</h4>
                </a>
                <a href="#tablaFunciones">
                    <h4 style="color:#3C763D">Tabla de Funciones</h4>
                </a>
            </ul>
        </section>
        <section>

            <div class="cd-faq-items">
                <h1>Gráficos</h1>
                <ul id="grafico1var" style="list-style-type:none">
                    <li>
                        <a class="cd-faq-trigger" href="#0">
                            <h4 style="color:#3C763D">Funciones de una variable</h4>
                        </a>
                        <div class="cd-faq-content">
                            <ul>
                                <li>Se podrán graficar varias funciones agregándolas con el botón Agregar Función.</li>
                                <li>En los campos de funciones, se pueden combinar las funciones de la
                                    <a style="color:#3C763D" href="#tablaFunciones">tabla de funciones</a> utilizando una variable.</li>
                                <li>En el campo variable se ingresa la variable de la función, que puede ser x,y o z.</li>
                                <li>En el campo Limite Inferior se ingresa el valor mínimo que tomará la variable.</li>
                                <li>En el campo Limite Superior se ingresa el valor máximo que tomará la variable.</li>
                            </ul>
                        </div>
                    </li>
                    <br>
                    <li>
                        <a class="cd-faq-trigger" id="grafico2var" href="#grafico2var">
                            <h4 style="color:#3C763D">Funciones de dos variables</h4>
                        </a>
                        <div class="cd-faq-content">
                            <ul>
                                <li>En el campo Función, se pueden combinar las funciones de la
                                    <a style="color:#3C763D" href="#tablaFunciones">tabla de funciones</a> utilizando 2 variables.</li>
                                <li>En los campos variable 1 y variable 2 se deben ingresar las variables que utiliza la función,
                                    que pueden ser x,y o z. Supongamos x e y.</li>
                                <li>En el campo Limite Inferior 1 se ingresa el valor mínimo que tomará la variable x.</li>
                                <li>En el campo Limite Superior 1 se ingresa el valor máximo que tomará la variable x.</li>
                                <li>En el campo Limite Inferior 2 se ingresa el valor mínimo que tomará la variable y.</li>
                                <li>En el campo Limite Superior 2 se ingresa el valor máximo que tomará la variable y.</li>
                            </ul>
                        </div>
                    </li>
                    <a class="cd-faq-trigger" href="#ayudaPpal">
                        <h4 style="color:#3C763D">Volver al índice</h4>
                    </a>
                </ul>
                <h1>Derivadas</h1>
                <ul style="list-style-type:none">
                    <br>
                    <li>
                        <a class="cd-faq-trigger" id="derivadaSimbolica" href="#derivadaSimbolica">
                            <h4 style="color:#3C763D">Derivada Simbólica</h4>
                        </a>
                        <div class="cd-faq-content">
                            <ul>
                                <li>
                                    En el campo Función, se pueden combinar las funciones de la
                                    <a style="color:#3C763D" href="#tablaFunciones">tabla de funciones</a>.
                                </li>
                                <li>En el campo variable se ingresa la variable de la función, que puede ser x,y o z.</li>
                                <li>En el campo Limite Inferior se ingresa el valor mínimo que tomará la variable, este campo es requerido para poder graficar la derivada.</li>
                                <li>En el campo Limite Superior se ingresa el valor máximo que tomará la variable, este campo es requerido para poder graficar la derivada.</li>
                                <li>Al hacer click en Derivar se observa el gráfico y el resultado a la derecha.</li>
                                <li>Se pueden obtener la derivada segunda y sucesivas haciendo click en el botón <img src="/static/imagenes/flechaDerecha.png"></li>
                                <li>El proceso puede repetirse hasta que el resultado de la derivada sea 0.</li>
                            </ul>
                        </div>
                    </li>
                    <br>
                    <li>
                        <a class="cd-faq-trigger" id="derivadaNumerica" href="#derivadaNumerica">
                            <h4 style="color:#3C763D">Derivada Numérica</h4>
                        </a>
                        <div class="cd-faq-content">
                            <p class="c1">
                                <span class="c3">Se utilizar&aacute;n M&eacute;todos Num&eacute;ricos de aproximaci&oacute;n para el c&aacute;lculo
                                    de las derivadas cuando:
                                </span>
                            </p>
                            <p class="c1 c7">
                                <span class="c3"></span>
                            </p>
                            <ul class="c4 lst-kix_3a15m3lt9q7z-0 start">
                                <li class="c0">
                                    <span class="c3">No se conozca anal&iacute;ticamente la expresi&oacute;n de f(x)</span>
                                </li>
                                <li class="c0">
                                    <span class="c3">S&oacute;lo se conocen algunos de los valores tabulados</span>
                                </li>
                            </ul>
                            <p class="c1 c7">
                                <span class="c3"></span>
                            </p>
                            <p class="c1">
                                <span class="c3">Para aproximar la derivada en un punto:</span>
                            </p>
                            <p class="c1 c7">
                                <span class="c3"></span>
                            </p>
                            <ul class="c4 lst-kix_metitv4ja6nj-0 start">
                                <li class="c0">
                                    <span class="c8">Se ingresa el punto en el cual se desea aproximar la derivada </span>
                                    <img src="/static/imagenes/image1.png"> .
                                </li>
                                <li class="c0">
                                    <span class="c3">Se selecciona si se usar&aacute; diferencia hacia adelante, hacia atras o central.</span>
                                </li>
                                <li class="c0">
                                    <span class="c3">Haciendo click en el bot&oacute;n <img src="/static/imagenes/agregar.png"> se agregan las filas necesarias a la tabla.</span>
                                </li>
                                <li class="c0">
                                    <span class="c3">Se cargan los valores correspondientes en dicha tabla.</span>
                                </li>
                                <li class="c0">
                                    <span class="c3">Al hacer click en Derivar se muestra el resultado de la aproximaci&oacute;n.</span>
                                </li>
                            </ul>
                            <p class="c1 c7">
                                <span class="c3"></span>
                            </p>
                            <p class="c1">
                                <span class="c3">En el margen derecho se pueden ver las distintas f&oacute;rmulas de aproximaci&oacute;n</span>
                            </p>
                        </div>
                    </li>
                    <a class="cd-faq-trigger" href="#ayudaPpal">
                        <h4 style="color:#3C763D">Volver al índice</h4>
                    </a>
                </ul>
                <h1>Integrales</h1>
                <ul style="list-style-type:none">
                    <br>
                    <li>
                        <a class="cd-faq-trigger" id="integralSimple" href="#integralSimple">
                            <h4 style="color:#3C763D">Integrales Simples</h4>
                        </a>
                        <div class="cd-faq-content">
                            <ul class="c12 lst-kix_7nuknihymh1j-0 start">
                                <li>En primer lugar se debe seleccionar el tipo de integral a calcular (indefinida, definida, num&eacute;rica).</li>
                                <li class="c0">
                                    <span class="c2">Si se va a calcular la integral definida o indefinida, primero se deber&aacute; ingresar
                                        la funci&oacute;n.</span>
                                </li>
                                <li class="c0">
                                    En &eacute;ste campo, se pueden combinar las funciones de la
                                    <a style="color:#3C763D" href="#tablaFunciones">tabla de funciones</a> utilizando una variable.
                                </li>
                                <li>En el campo variable se ingresa la variable de la funci&oacute;n, que puede ser x,y o z.
                                </li>
                                <li>Si se quiere calcular la Integral Definida , se deben ingresar los límites inferior y superior
                                    de la variable</li>
                                <li>Si se selecciona Integral Numérica , se nos presentan dos opciones. Podemos aproximar la
                                    integral por dos métodos: Método de Trapecio o Método de Simpson . Una vez seleccionado
                                    el método los pasos que siguen son los mismos para ambos. La diferencia está en el algoritmo
                                    que se utiliza.
                                </li>
                                <li>Haciendo click en el botón <img src="/static/imagenes/agregar.png"> se agregan las filas necesarias a la tabla</li>
                                <li>Se cargan los valores correspondientes en dicha tabla</li>
                                <li>Al hacer click en Integrar se muestra el resultado del cálculo o la aproximación, según sea
                                    el caso
                                </li>
                                <li>Para la integral definida se habilita el botón Graficar , los campos requeridos para poder
                                    gráficar son la función, la variable y los límites inferior y superior.</li>
                            </ul>
                        </div>
                    </li>
                    <br>
                    <li>
                        <a class="cd-faq-trigger" id="integralDoble" href="#integralDoble">
                            <h4 style="color:#3C763D">Integrales Dobles</h4>
                        </a>
                        <ul>
                            <li>En cualquier tipo de integral que se esté calculando, primero se deberá ingresar la función.</li>
                            <li>En el campo Función, se pueden combinar las funciones de la
                                <a style="color:#3C763D" href="#tablaFunciones">tabla de funciones</a> utilizando 2 variables.</li>
                            <li>En cualquier tipo de integral, en los campos variable 1 y variable 2 se deben ingresar las variables
                                que utiliza la función, que pueden ser x,y o z. Supondremos x e y</li>
                        </ul>
                    </li>
                    <br>
                    <li>
                        <a class="cd-faq-trigger" id="integralDobledef" href="#integralDobledef">
                            <h4 style="color:#3C763D">Integral Doble Definida</h4>
                        </a>
                        <ul>
                            <li>Para la Integral Definida se deben ingresar los límites inferior y superior de ambas variables.</li>
                            <li>
                                En el campo Lim Inf 1 se ingresa el valor mínimo que tomará la variable externa de la integral.
                            </li>
                            <li>
                                En el campo Lim Sup 1 se ingresa el valor máximo que tomará la variable externa de la integral.
                            </li>
                            <li>
                                En el campo Lim Inf 2 se ingresa el valor mínimo que tomará la variable interna de la integral.
                            </li>
                            <li>
                                En el campo Lim Sup 2 se ingresa el valor máximo que tomará la variable interna de la integral.
                            </li>
                        </ul>
                    </li>
                    <br>
                    <li>
                        <a class="cd-faq-trigger" id="integralDoblenum" href="#integralDoblenum">
                            <h4 style="color:#3C763D">Integral Doble Numérica</h4>
                        </a>
                        <p>Para la aproximación de la Integral Numérica se debe seleccionar el método a utilizar: Trapecio o
                            Simpson, Luego los campos a ingresar no varían entre los dos métodos y son los siguientes:</p>
                        <ul>
                            <li>
                                <p>a: Es el límite inferior de la variable x</p>
                            </li>
                            <li>
                                <p>b: Es el límite superior de la variable x</p>
                            </li>
                            <li>
                                <p>c: Es el límite inferior de la variable y</p>
                            </li>
                            <li>
                                <p>d: Es el límite superior de la variable y</p>
                            </li>
                            <li>
                                <p>m corresponde a la cantidad de subintervalos en que se dividirá el intervalo [a,b]
                                </p>
                            </li>
                            <li>
                                <p>n corresponde a la cantidad de subintervalos en que se dividirá el intervalo [c,d]
                                </p>
                            </li>
                        </ul>
                    </li>
                    <a class="cd-faq-trigger" href="#ayudaPpal">
                        <h4 style="color:#3C763D">Volver al índice</h4>
                    </a>
                </ul>
                <h1>Raíces</h1>
                <ul style="list-style-type:none">
                    <br>
                    <li>
                        <a class="cd-faq-trigger" id="biseccion" href="#biseccion">
                            <h4 style="color:#3C763D">Método de Bisección</h4>
                        </a>
                        <div class="cd-faq-content">
                            <ul>
                                <li>En el campo Función, se pueden combinar las funciones de la
                                    <a style="color:#3C763D" href="#tablaFunciones">tabla de funciones</a>.
                                </li>
                                <li>En el campo variable se ingresa la variable de la función, que puede ser x,y o z</li>
                                <li>Para aplicar el método de bisección se considera un intervalo [a, b] que verifique el teorema
                                    de Bolzano.
                                    <ul>
                                        <li>En el campo Cota Inferior se ingresa el valor de a</li>
                                        <li>En el campo Cota Superior se ingresa el valor de b</li>
                                        <li>Por último se ingresa el valor del error</li>
                                    </ul>
                                </li>
                                <li>Una vez completados estos valores, al hacer click en Calcular se muestran graficamente, los
                                    resultados de la primer iteración del método. Luego, haciendo click en el botón <img src="/static/imagenes/flechaDerecha.png"> se pueden ir viendo las iteraciones hasta encontrar la raíz aproximada.
                                    En ese momento se marcará la raíz con un borde de color rojo.
                                </li>

                            </ul>
                        </div>
                    </li>
                    <br>
                    <li>
                        <a class="cd-faq-trigger" id="newton" href="#newton">
                            <h4 style="color:#3C763D">Método de Newton</h4>
                        </a>
                        <div class="cd-faq-content">
                            <ul>
                                <li>En el campo Función, se pueden combinar las funciones de la
                                    <a style="color:#3C763D" href="#tablaFunciones">tabla de funciones</a>.</li>
                                <li>En el campo variable se ingresa la variable de la función, que puede ser x,y o z</li>

                                <span class="c5">En el campo
                                    <img src="/static/imagenes/image1.png"> se ingresa el valor del punto inicial (aproximación de la raíz) </span>
                                <br>
                                <li>Por último se ingresa el valor del error</li>
                                <li>Una vez completados estos valores, al hacer click en Calcular se muestran graficamente, los
                                    resultados de la primer iteración del método. Luego, haciendo click en el botón <img src="/static/imagenes/flechaDerecha.png"> se pueden ir viendo las iteraciones hasta encontrar la raíz aproximada.
                                    En ese momento se marcará la raíz con un borde de color rojo.
                                </li>

                            </ul>
                        </div>
                    </li>
                    <a class="cd-faq-trigger" href="#ayudaPpal">
                        <h4 style="color:#3C763D">Volver al índice</h4>
                    </a>
                </ul>
                <h1>Tabla de Funciones</h1>
                <br>
                <table id="tablaFunciones" class="table table-bordered" style="width:70%">
                    <thead>
                        <th style="background-color:#f2d198">Funciones</th>
                        <th style="background-color:#f2d198">Descripción</th>
                    </thead>
                    <tbody>
                        <tr class="c4">
                            <td class="c3" colspan="1" rowspan="1">
                                <p class="c1">
                                    <span class="c0">abs(x)</span>
                                </p>
                            </td>
                            <td class="c6" colspan="1" rowspan="1">
                                <p class="c1">
                                    <span class="c0">Devuelve el valor absoluto de x</span>
                                </p>
                            </td>
                        </tr>
                        <tr class="c4">
                            <td class="c3" colspan="1" rowspan="1">
                                <p class="c1">
                                    <span class="c0">cos(x)</span>
                                </p>
                            </td>
                            <td class="c6" colspan="1" rowspan="1">
                                <p class="c1">
                                    <span class="c0">Devuelve el coseno de x</span>
                                </p>
                            </td>
                        </tr>
                        <tr class="c4">
                            <td class="c3" colspan="1" rowspan="1">
                                <p class="c1">
                                    <span class="c0">exp(x)</span>
                                </p>
                            </td>
                            <td class="c6" colspan="1" rowspan="1">
                                <p class="c1">
                                    <span class="c0">Devuelve e elevado a la potencia x</span>
                                </p>
                            </td>
                        </tr>
                        <tr class="c4">
                            <td class="c3" colspan="1" rowspan="1">
                                <p class="c1">
                                    <span class="c0">log(x)</span>
                                </p>
                            </td>
                            <td class="c6" colspan="1" rowspan="1">
                                <p class="c1">
                                    <span class="c0">Devuelve el logaritmo natural del n&uacute;mero x</span>
                                </p>
                            </td>
                        </tr>
                        <tr class="c4">
                            <td class="c3" colspan="1" rowspan="1">
                                <p class="c1">
                                    <span class="c0">log(x,b)</span>
                                </p>
                            </td>
                            <td class="c6" colspan="1" rowspan="1">
                                <p class="c1">
                                    <span class="c0">Devuelve el logaritmo del n&uacute;mero x en base b</span>
                                </p>
                            </td>
                        </tr>
                        <tr class="c4">
                            <td class="c3" colspan="1" rowspan="1">
                                <p class="c1">
                                    <span class="c0">log10(x)</span>
                                </p>
                            </td>
                            <td class="c6" colspan="1" rowspan="1">
                                <p class="c1">
                                    <span class="c0">Devuelve el logaritmo decimal en base 10 del n&uacute;mero x</span>
                                </p>
                            </td>
                        </tr>
                        <tr class="c4">
                            <td class="c3" colspan="1" rowspan="1">
                                <p class="c1">
                                    <span class="c0">pi</span>
                                </p>
                            </td>
                            <td class="c6" colspan="1" rowspan="1">
                                <p class="c1">
                                    <span class="c0">Devuelve el valor del n&uacute;mero &pi;</span>
                                </p>
                            </td>
                        </tr>
                        <tr class="c4">
                            <td class="c3" colspan="1" rowspan="1">
                                <p class="c1">
                                    <span class="c0">sin(x)</span>
                                </p>
                            </td>
                            <td class="c6" colspan="1" rowspan="1">
                                <p class="c1">
                                    <span class="c0">Devuelve el seno de x</span>
                                </p>
                            </td>
                        </tr>
                        <tr class="c4">
                            <td class="c3" colspan="1" rowspan="1">
                                <p class="c1">
                                    <span class="c0">sqrt(x)</span>
                                </p>
                            </td>
                            <td class="c6" colspan="1" rowspan="1">
                                <p class="c1">
                                    <span class="c0">Devuelve la ra&iacute;z cuadrada de x</span>
                                </p>
                            </td>
                        </tr>
                        <tr class="c4">
                            <td class="c3" colspan="1" rowspan="1">
                                <p class="c1">
                                    <span class="c0">tan(x)</span>
                                </p>
                            </td>
                            <td class="c6" colspan="1" rowspan="1">
                                <p class="c1">
                                    <span class="c0">Devuelve la tangente de x</span>
                                </p>
                            </td>
                        </tr>
                        <tr class="c4">
                            <td class="c3" colspan="1" rowspan="1">
                                <p class="c1">
                                    <span class="c0">x**n &oacute; x^n</span>
                                </p>
                            </td>
                            <td class="c6" colspan="1" rowspan="1">
                                <p class="c1">
                                    <span class="c0">Devuelve el valor de x elevado a la n</span>
                                </p>
                            </td>
                        </tr>
                        <tr class="c4">
                            <td class="c3" colspan="1" rowspan="1">
                                <p class="c1">
                                    <span class="c0">+, -, *, /</span>
                                </p>
                            </td>
                            <td class="c6" colspan="1" rowspan="1">
                                <p class="c1">
                                    <span class="c0">Operadores Aritm&eacute;ticos</span>
                                </p>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <a class="cd-faq-trigger" href="#ayudaPpal">
                    <h4 style="color:#3C763D" style="color:#3C763D">Volver al índice</h4>
                </a>
            </div>
        </section>
    </div>
</form>
{% endblock contenido %}