{% extends "plantilla.html" %} 
{% load staticfiles %} 
{% block titulo %} Evaluar Función {% endblock titulo %} 
{% block contenido%}

<form id="form" method="POST" class="post-form">{% csrf_token %}
	<script>
		var fun, variable, inferior, superior, coleccion, cont;
		coleccion = [];
		cont = 0;
		$(document).ready(function () {

			$('#ayuda').click(function () {
				window.open('./ayuda.html#biseccion', "ayuda", "width=800, height=600");
			});

			$("#acep").click(function () {
				fun = $("#id_funcion").val();
				variable = $("#id_variable").val();
				inferior = $("#id_inferior").val();
				superior = $("#id_superior").val();
				error = $("#id_error").val();
				coleccion = [];

				$('#atras').attr('disabled', true);
				$.ajax({
					url: "graficar_biseccion",
					type: "POST",
					dataType: "json",
					data: {
						funcion: fun,
						variable: variable,
						inferior: inferior,
						superior: superior,
						error: error,
						limpiar: 1,
						csrfmiddlewaretoken: '{{ csrf_token }}'
					},
					success: function (json) {
						str = "{% static 'imagenes/' %}" + json.server_response['filename'];
						esraiz = (json.server_response['band'] == 1);
						var datos = {
							a: inferior,
							b: superior,
							fa: json.server_response['fa'],
							fb: json.server_response['fb'],
							r: json.server_response['raiz'],
							fr: json.server_response['fr'],
							esraiz: esraiz,
							img: str
						}
						coleccion.push(datos);
						cont = 0;
						$('#foo').attr("src", str);
						$('#cotaa').html(" (a, f(a)) = (" + inferior + ", " + json.server_response['fa'].toFixed(5) + ")");
						$('#cotab').html(" (b, f(b)) = (" + superior + ", " + json.server_response['fb'].toFixed(5) + ")");
						$('#raiz').html(" (r, f(r)) = (" + json.server_response['raiz'].toFixed(5) + ", " + json.server_response['fr'] + ")");
						$('#iteracion').html(cont + 1);
						$('#grafico').show();
						$('#valores').show();
						if (esraiz) {
							$('#raiz').css({
								"border-color": "red",
								"border-width": "1px",
								"border-style": "solid"
							});
							$('#resultado').html("Raíz r = "+json.server_response['raiz'].toFixed(5));
							$('#sig').attr('disabled', true);
						} else {
							$('#raiz').css({
								"border": "none"
							});
							$('#resultado').html("");
							$('#sig').attr('disabled', false);
							if ((json.server_response['fa'] * json.server_response['fr']) < 0)
								superior = json.server_response['raiz'];
							else
								inferior = json.server_response['raiz'];
						}
					},
					error: function (xhr, errmsg, err) {
						alert(xhr.responseText);
					}
				});
				return false;
			});

			$("#sig").click(function (event) {
				cont++;
				//si todavía no fue cargado
				if (coleccion[cont] == undefined) {
					$('#sig').attr('disabled', true);
					$('#atras').attr('disabled', true);
					$.ajax({
						url: "graficar_biseccion",
						type: "POST",
						dataType: "json",
						data: {
							funcion: fun,
							variable: variable,
							inferior: inferior,
							superior: superior,
							error: error,
							limpiar: 0,
							csrfmiddlewaretoken: '{{ csrf_token }}'
						},
						success: function (json) {
							str = "{% static 'imagenes/' %}" + json.server_response['filename'];
							esraiz = (json.server_response['band'] == 1);
							$('#sig').attr('disabled', false);
							$('#atras').attr('disabled', false);
							var datos = {
								a: inferior,
								b: superior,
								fa: json.server_response['fa'],
								fb: json.server_response['fb'],
								r: json.server_response['raiz'],
								fr: json.server_response['fr'],
								esraiz: esraiz,
								img: str
							}
							coleccion.push(datos);
							$('#foo').attr("src", str);
							$('#cotaa').html(" (a, f(a)) = (" + parseFloat(inferior).toFixed(5) + ", " + json.server_response['fa'].toFixed(5) + ")");
							$('#cotab').html(" (b, f(b)) = (" + parseFloat(superior).toFixed(5) + ", " + json.server_response['fb'].toFixed(5) + ")");
							$('#raiz').html(" (r, f(r)) = (" + json.server_response['raiz'].toFixed(5) + ", " + json.server_response['fr'].toFixed(5) + ")");
							$('#iteracion').html(cont + 1);
							$('#grafico').show();
							$('#valores').show();
							if (esraiz) {
								$('#raiz').css({
									"border-color": "red",
									"border-width": "1px",
									"border-style": "solid"
								});
								$('#resultado').html("Raíz r = "+ json.server_response['raiz'].toFixed(5));
								$('#sig').attr('disabled', true);
							} else {
								$('#resultado').html("");
								if ((json.server_response['fa'] * json.server_response['fr']) < 0)
									superior = json.server_response['raiz'];
								else
									inferior = json.server_response['raiz'];
							}
						},
						error: function (xhr, errmsg, err) {
							alert(xhr.status + ": " + xhr.responseText);
						}
					});
					return false;
				} else {
					event.preventDefault();
					$('#foo').attr("src", coleccion[cont]['img']);
					$('#cotaa').html(" (a, f(a)) = (" + parseFloat(coleccion[cont]['a']).toFixed(5) + ", " + parseFloat(coleccion[cont]['fa']).toFixed(5) + ")");
					$('#cotab').html(" (b, f(b)) = (" + parseFloat(coleccion[cont]['b']).toFixed(5) + ", " + parseFloat(coleccion[cont]['fb']).toFixed(5) + ")");
					$('#raiz').html(" (r, f(r)) = (" + parseFloat(coleccion[cont]['r']).toFixed(5) + ", " + parseFloat(coleccion[cont]['fr']).toFixed(5) + ")");
					$('#iteracion').html(cont + 1);
					$('#raiz').css({
						"border": "none"
					});
					$('#grafico').show();
					$('#valores').show();
					if (coleccion[cont]['esraiz']) {
						$('#raiz').css({
							"border-color": "red",
							"border-width": "1px",
							"border-style": "solid"
						});
						$('#resultado').html("Raíz r = "+coleccion[cont]['r'].toFixed(5));
						$('#sig').attr('disabled', true);
						$('#atras').attr('disabled', false);
					} else {
						$('#resultado').html("");
					}
					inferior = coleccion[cont]['a'];
					superior = coleccion[cont]['b'];
				}
			});

			$("#atras").click(function (event) {
				event.preventDefault();
				$('#resultado').html("");
				$('#sig').attr('disabled', false);
				cont--;
				if (cont == 0)
					$('#atras').attr('disabled', true);
				$('#foo').attr("src", coleccion[cont]['img']);
				$('#cotaa').html(" (a, f(a)) = (" + parseFloat(coleccion[cont]['a']).toFixed(5) + ", " + coleccion[cont]['fa'].toFixed(5) + ")");
				$('#cotab').html(" (b, f(b)) = (" + parseFloat(coleccion[cont]['b']).toFixed(5) + ", " + coleccion[cont]['fb'].toFixed(5) + ")");
				$('#raiz').html(" (r, f(r)) = (" + coleccion[cont]['r'].toFixed(5) + ", " + coleccion[cont]['fr'].toFixed(5) + ")");
				$('#raiz').css({
					"border": "none"
				});
				$('#iteracion').html(cont + 1);
				$('#grafico').show();
				$('#valores').show();
				inferior = coleccion[cont]['a'];
				superior = coleccion[cont]['b'];
			});

			$('#cont').show();
		});
	</script>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1>Método de Bisección</h1>
				<br>
				<div class="row">
					{% if form.funcion %}
					<div class="col-md-2" style='font-weight: bold; color:#638cb5;'>
						Función:
					</div>
					<div id="fun" class="col-md-4">
						{{form.funcion}}
					</div>
					<div class="col-md-2" style='font-weight: bold; color:#638cb5;'>
						{{form.variable.label_tag}}
					</div>
					<div class="col-md-4">
						{{form.variable}}
					</div>
				</div>
				<div class="row">
					<br>
					<div class="col-md-2" style='font-weight: bold; color:#638cb5;'>{{form.inferior.label_tag}}</div>
					<div class="col-md-4">{{form.inferior}}</div>
					<div class="col-md-2" style='font-weight: bold; color:#638cb5;'>{{form.superior.label_tag}}</div>
					<div class="col-md-4">{{form.superior}}</div>
					{% endif %}
				</div>
				<div class="row">
					<br>
					<div class="col-md-2" style='font-weight: bold; color:#638cb5;'>{{form.error.label_tag}}</div>
					<div class="col-md-4">{{form.error}}</div>
				</div>
				<br>

				<div class="row" id="valores" style="display:none">
					<div class="col-md-8">
						<div class="alert alert-success alert-dismissable" role="alert" contenteditable="false">
							<h4 class="alert-heading">Resultados Iteración
								<span id="iteracion"></span>:
							</h4>
							<div id="cotaa" style="font-weight: bold"></div>
							<br>
							<div id="cotab" style="font-weight: bold"></div>
							<br>
							<div id="raiz" style="font-weight: bold"></div>
							<br>							
							<div id="resultado" style="font-weight: bold"></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<button id="acep" name="aceptar" type="submit" class="btn btn-success">Calcular</button>
						<button type="button" class="btn btn-primary" id="ayuda">Ayuda</button>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<br>
				<div class="panel" id="grafico">
					<figure>
						<img id="foo" width="420" height="370">
						<figcaption>
							<br>
							<button id="atras" class="btn btn-info glyphicon glyphicon-backward"></button>&nbsp;&nbsp;&nbsp;
							<button id="sig" class="btn btn-info glyphicon glyphicon-forward"></button> &nbsp;&nbsp;&nbsp;
							<span><i><small>Presionar para seguir iterando</small></i></span>
						</figcaption>
					</figure>
				</div>
			</div>
		</div>
	</div>
</form>
{% endblock contenido %}