{% extends "plantilla.html" %} 
{% load staticfiles %} 
{% block contenido %}
<form id="form" method="POST" class="post-form">{% csrf_token %}
	<script>
		var fun, variable, inferior, superior, coleccion;
		var pruebaBand = true;
		$(document).ready(function () {
			
			$('#ayuda').click(function () {
				window.open('./ayuda.html#derivadaSimbolica', "ayuda", "width=800, height=600");
			});

			$("#acep").click(function () {
				fun = $("#id_funcion").val();
				variable = $("#id_variable").val();
				inf = $("#id_inf").val();
				sup = $("#id_sup").val();
				if (inferior == '' || superior == '')
					alert("derivarda común, ver como graficar");
				else {
					coleccion = [];
					$('#atras').attr('disabled', true);
					$('#sig').attr('disabled', false);
					$.ajax({
						url: "graficar_derivada",
						type: "POST",
						dataType: "json",
						data: {
							funcion: fun,
							variable: variable,
							inf: inf,
							sup: sup,
							limpiar: 1,
							csrfmiddlewaretoken: '{{ csrf_token }}'
						},
						success: function (json) {
							if (json.server_response['filename'] != ''){
								str = "{% static 'imagenes/' %}" + json.server_response['filename'];
								var datos = {
									funcion: json.server_response['funcion'],
									derivada: json.server_response['derivada'],
									img: str
								}
								coleccion.push(datos);
								cont = 0;
								$('#foo').attr("src", str);
								$('#grafico').show();
								$('#valores').show();
								$('#funct').html(" <strong>f(x)</strong> = " + json.server_response['funcion']);
								$('#derivada').html(" <strong>f'(x)</strong> = " + json.server_response['derivada']);
							}
							else{
								fun = json.server_response['derivada'];
								$('#respuesta').html(" <strong>Derivada</strong> = " + json.server_response['derivada']);
								$('#respuesta').show();
								$('#resultado').show();
							}
						},
						error: function (xhr, errmsg, err) {
							$('#rtaError').html(" La expresión es invalida" );
							$('#rtaError').show();
							$('#error').show();
							// alert(xhr.responseText);
						}
					});
					return false;
				}
			});

			$("#sig").click(function (event) {
				cont++;
				//si todavía no fue cargado
				if (coleccion[cont] == undefined) {
					$('#sig').attr('disabled', true);
					$('#atras').attr('disabled', true);
					$.ajax({
						url: "graficar_derivada",
						type: "POST",
						dataType: "json",
						data: {
							funcion: fun,
							variable: variable,
							inf: inf,
							sup: sup,
							limpiar: 0,
							csrfmiddlewaretoken: '{{ csrf_token }}'
						},
						success: function (json) {
							str = "{% static 'imagenes/' %}" + json.server_response['filename'];
							$('#sig').attr('disabled', false);
							$('#atras').attr('disabled', false);
							var datos = {
								funcion: json.server_response['funcion'],
								derivada: json.server_response['derivada'],
								img: str
							}
							if (parseInt(json.server_response['derivada']) == 0)
								$('#sig').attr('disabled', true);

							coleccion.push(datos);
							$('#foo').attr("src", str);
							$('#funct').html(" <strong>f(x)</strong> = " + json.server_response['funcion']);
							$('#derivada').html(" <strong>f'(x)</strong> = " + json.server_response['derivada']);
							$('#grafico').show();
							$('#valores').show();
							fun = json.server_response['derivada'];
						},
						error: function (xhr, errmsg, err) {
							alert(xhr.status + ": " + xhr.responseText);
						}
					});
					return false;
				} else {
					event.preventDefault();
					$('#foo').attr("src", coleccion[cont]['img']);
					$('#funct').html(" <strong>f(x)</strong> = " + coleccion[cont]['funcion']);
					$('#derivada').html(" <strong>f'(x)</strong> = " + coleccion[cont]['derivada']);
					$('#grafico').show();
					$('#valores').show();
					fun = coleccion[cont]['derivada'];
					if (parseInt(coleccion[cont]['derivada']) == 0)
						$('#sig').attr('disabled', true);
				}
			});

			$("#atras").click(function (event) {
				event.preventDefault();
				$('#sig').attr('disabled', false);
				cont--;
				if (cont == 0)
					$('#atras').attr('disabled', true);
				$('#foo').attr("src", coleccion[cont]['img']);
				$('#funct').html(" <strong>f(x)</strong> = " + coleccion[cont]['funcion']);
				$('#derivada').html(" <strong>f'(x)</strong> = " + coleccion[cont]['derivada']);
				$('#grafico').show();
				$('#valores').show();
				fun = coleccion[cont]['derivada'];
			});
			$('#cont').show();
		});
	</script>
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<h1>Derivada</h1>
				<br>
				<div class="row">
				{% if form.funcion %}
					<div class="col-md-8">
						<span style="font-weight: bold; color:#638cb5;">Función: &nbsp;&nbsp;</span>
						{{form.funcion}}
					</div>
					<div class="col-md-4">
						<span style="font-weight: bold; color:#638cb5;">{{form.variable.label_tag}} &nbsp;&nbsp;</span>
						{{form.variable}}
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-6">
						<span style="font-weight: bold; color:#638cb5;">Límite Inferior:&nbsp;&nbsp;</span>
						{{form.inf}}
					</div>
					<div class="col-md-6">
						<span style="font-weight: bold; color:#638cb5;">Límite Superior:&nbsp;&nbsp;</span>
						{{form.sup}}
					</div>
				</div>
				<br><br>
				<div class="row">
					<div class="col-md-12">
						<button id="acep" name="aceptar" type="submit" class="btn btn-success">Derivar</button>
						<button type="button" class="btn btn-primary" id="ayuda">Ayuda</button>
					</div>
				</div>
				{% endif %}
				<br>
				<div class="panel" id="resultado">
					<div class="alert alert-success alert-dismissable fade in" contenteditable="false">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
						<h4>Resultado:</h4>
						<p id="respuesta"> </p>
					</div>
				</div>
				<div class="panel" id="error">
					<div class="alert alert-danger alert-dismissable fade in" contenteditable="false">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
						<h4>Resultado:</h4>
						<p id="rtaError"> </p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel" id="grafico">
					<div class="row">
						<div class="col-md-12"><img id="foo" width="450" height="400"></div>
					</div>
				</div>
				<div class="panel" id="valores">
					<div class="col-md-5" >
						<div class="alert alert-info alert-dismissable fade in" contenteditable="false">
							<p id="funct"></p>
							<p id="derivada"></p>
						</div>
					</div>
					<div class="col-md-5">
						<div class="cell" align="right">
							<button id="atras" class="btn btn-info glyphicon glyphicon-backward" disabled></button>&nbsp;&nbsp;&nbsp;
							<button id="sig" class="btn btn-info glyphicon glyphicon-forward" alt="Submit"></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
{% endblock contenido %}