{% extends "plantilla.html" %} {% load staticfiles %} {% block contenido %}
<form id="form" method="POST" class="post-form">{% csrf_token %}
	<script>
		var fun, variable, inf, sup;
		$(document).ready(function () {

			$("#acep").click(function () {
				fun = $("#id_funcion").val();
				variable = $("#id_variable").val();
				inf = $("#id_inf").val();
				sup = $("#id_sup").val();
				if (inf == '' || sup == '')
					alert("derivarda común, ver como graficar");
				else {
					$.ajax({
						url: "graficar",
						type: "POST",
						dataType: "json",
						data: {
							funcion: fun,
							variable: variable,
							inferior: inf,
							superior: sup,
							sombra: 0,
							csrfmiddlewaretoken: '{{ csrf_token }}'
						},
						success: function (json) {
							str = "{% static 'imagenes/' %}" + json.server_response;
							$('#foo').attr("src", str);
							$('#grafico').show();
						},
						error: function (xhr, errmsg, err) {
							alert(xhr.responseText);
						}
					});
					return false;
				}
			});
		});
	</script>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1>Gráficos 2D</h1>
				<br>
				<div class="row">
					{% if form.funcion %}
					<div class="col-md-6">
						<span style='font-weight: bold; color:#638cb5;'>Función:</span>&nbsp;&nbsp;{{form.funcion}}
					</div>
					<div class="col-md-6">
						<span style='font-weight: bold; color:#638cb5;'>Variable:</span>&nbsp;&nbsp;{{form.variable}}
					</div>
				</div>

				<br>
				<div class="row">
					<div class="col-md-5">
						<span style='font-weight: bold; color:#638cb5;'>Límite inferior:</span> &nbsp;&nbsp;{{form.inf}}</div>
					<div class="col-md-5"><span style='font-weight: bold; color:#638cb5;'>Límite superior: </span>&nbsp;&nbsp;{{form.sup}}</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-12">
						<button id="acep" name="aceptar" type="submit" class="btn btn-success">Graficar</button>
						<a class="btn btn-info view-pdf" href="{% static 'documentos/Ayuda_1var.pdf' %}">Ayuda</a>
					</div>
				</div>
				{% endif %}
			</div>
			<div class="col-md-6">
				<div class="panel" id="grafico">
					<div class="row">
						<div class="col-md-6"><img id="foo" width="550" height="500"></div>

					</div>
				</div>
			</div>
		</div>
	</div>
</form>
{% endblock contenido %}