{% load staticfiles %}
<meta charset="utf-8"  />
<body>
	<head>
			<!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">-->
			<!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">-->
			<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
			<link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
	    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
	    <title>{% block tit %}Métodos Computacionales{% endblock %}</title>
	</head>
	<!--<div class="page-header" style="background-image: url({% static 'imagenes/math.jpg' %});">-->
	<div class="page-header"">
		<ul class="nav" style="width:500px;">
			<li><a href="menu.html" style="border-right:none;">Inicio</a></li>
			<li><a href="" style="border-right:none">Cálculos</a>
				<ul>
					<li><a href="derivadas.html" style="border-top:none">Derivadas</a></li>
				</ul>
			</li>
			<li><a href="" style="border-right:none">Integrales</a>
				<ul>
					<li id="integ"><a href="integrales.html" style="border-top:none">Integrales Simples</a></li>
					<li><a href="integralesDobles.html" style="border-top:none">Integrales Dobles</a></li>
				</ul>
			</li>
			<li><a href="" style="border-right:none">Métodos</a>
				<ul>
					<li><a href="biseccion.html" style="border-top:none">Bisección</a></li>
					<li><a href="" style="border-top:none">Newton Raphson</a></li>
				</ul>
			</li>
			<li><a href="">Ayuda</a></li>
		</ul>
	</div>
	<div class="contenido" id="cont">{% block contenido %}{% endblock %}</div>
</body>
