{% load staticfiles %}
  <script src="{% static 'js/jquery-1.12.3.js' %}" type="text/javascript"></script>
  <form action="/create_post/" method="POST" id="post-form"> {% csrf_token %}

    <script>
    function create_post() {
      console.log("create post is working!") // sanity check
      console.log($('#post-text').val())
  };
    $(document).ready(function() {
      $("#graf").click(function() {
        alert("aca"+$('#id_firstname').val());
        var nom = 5;
        $.ajax({
          url : "create_post/", // the endpoint
          type : "POST", // http method
          dataType: "json",
          data : {the_post : $('#id_firstname').val()
                  },
          success : function(json) {
            $('#id_firstname').val(''); // remove the value from the input
            console.log(json); // log the returned json to the console
            console.log("success"); // another sanity check
            //$('#id_firstname').value = "carolina";
          },
          error : function(xhr,errmsg,err) {
            alert("error");
            //alert(xhr.status + ": " + xhr.responseText);
          }
        });
      });
    });

    </script>
    <div>
      <div><label>{{form.firstname.label_tag}}</label> {{form.firstname}}</div><br>
      <div><label>{{form.lastname.label_tag}}</label> {{form.lastname}}</div><br>
      <div><label>{{form.smallcv.label_tag}}</label> {{form.smallcv}}</div><br>
      <div><label>{{form.age.label_tag}}</label> {{form.age}}</div><br>
      <div><label>{{form.marital_status.label_tag}}</label> {{form.marital_status}}</div><br>
      <div><label>{{form.occupation.label_tag}}</label> {{form.occupation}}</div><br>
      <div><label>{{form.internet.label_tag}}</label> {{form.internet}}</div><br>
      <div><label>{{form.x0.label_tag}}</label> {{form.x0}}</div><br>
      <div><label>{{form.x1.label_tag}}</label> {{form.x1}}</div><br>
      <button id="graf" name="graficar" type="submit" class="boton">Graficar</button>
    </div>
</form>
