h1{
  	color: #FCA205;
    font-family: 'Lobster';
}

body {
  background-color: #F4F4F4;
    /*padding-left: 15px;
    background-image: url('/static/imagenes/math2.jpg');*/
}

div.panel{
	display: table-row;
  background-color: #F4F4F4;
	border: none;
}

div.panel{
	display: none;
	border: none;
}

.cell_b{
	display: table-cell;
	font-weight: bold;
	color:#638cb5;
}

td.transparente{
	border: 1px solid transparent;
}

/*.table_border{
	display: table;
	border-collapse: collapse;
  border-spacing:  0px;
  cellspacing:0;
  frame:void;
	rules:rows;
}

.cell_border_str{
	display: table-cell;
	border: 1px solid #555753;
}

.cell_border_str_b{
	display: table-cell;
	border: 1px solid #555753;
	font-weight: bold;
	color:#638cb5;
}

.row_border{
	display: table-row;
	border-bottom: 1px solid #eee;
}*/
