h1{
  	color: #FCA205;
    font-family: 'Lobster';
}

body {
    padding-left: 15px;
    background-image: url('/static/imagenes/math2.jpg');
}

.page-header {
	margin: 0 auto;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid black;
  padding: 0.3% 25% 0.3% 25%;
	width: 80%;
}

.contenido {
	margin: 0 auto;
  padding: 1% 1% 1% 1%;
  background-color: #F4F4F4;
  width: 80%;
  display: none;
}

.table{
	display: table;
	width: 70%;
	margin: 0 auto;
}

.table40{
	display: table;
	width: 40%;
}

.table50{
	display: table;
	width: 50%;
}

.table60{
	display: table;
	width: 60%;
}

.table80{
	display: table;
	width: 80%;
}

.table_border{
	display: table;
	border-collapse: collapse;
  border-spacing:  0px;
  cellspacing:0;
  frame:void;
	rules:rows;
	width: 50%;
}

.row{
	display: table-row;
}

.cell{
	display: table-cell;
}

.cell_border_str{
	display: table-cell;
	border: 1px solid #555753;
}

.cell_border_str_b{
	display: table-cell;
	border: 1px solid #555753;
	font-weight: bold;
	color:#638cb5;
}

.row_border{
	display: table-row;
	border-bottom: 1px solid #eee;
}

.cell_b{
	display: table-cell;
	font-weight: bold;
	color:#638cb5;
}

.celdita{
	display: table-cell;
	width: 30px;
}

.boton{
  font-size:10px;
  font-family:Verdana,Helvetica;
  font-weight:bold;
  color:white;
  background:#638cb5;
  border:0px;
  width:100px;
  height:20px;
}

div.panel{
	display: table-row;
  background-color: #F4F4F4;
}

div.panel{
	display: none;
}

div.contenedor {
  display: table-cell;
}

div.contenedor {
  display: none;
}

* {
	margin:0px;
	padding:0px;
}

ul, ol{
	list-style:none;
}

.nav > li{
	float:left;
}

.nav li a {
	background: #F4F4F4;
	border: 1px solid #7C7C7C;
	color: #7C7C7C;
	text-decoration:none;
	padding:10px 12px;
	display:block;
	line-height:40%;
}

.nav li a:hover {
	background-color:#fad188;
}

.nav li ul {
	display:none;
	position:absolute;
	min-width:160px;
}

.nav li:hover > ul {
	display:block;
}

.nav li ul li {
	/*position:relative;
	width: 90%;*/
}
